---
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Layout from "../layouts/Layout.astro";
import Support from "../components/Support.astro";
import CurrentlyDeveloped from "../components/CurrentlyDeveloped.astro";
import Socials from "../components/Socials.astro";
import News from "../components/News.astro";
---

<Layout title="Bielsania">
  <Hero />
  <CurrentlyDeveloped />
  <About />
  <Support />
  <Socials />
  <div class="wrapper">
    <hr>
  </div>
  <News />
</Layout>
