<div class="about wrapper">
  <div class="about__text">
    <h2>Kim jesteśmy?</h2>
    <p>
      Jesteśmy Podbeskidzkim studiem gier komputerowych. Młodym i prężnie działającym 
      zespołem. Widzimy świat i inny, nowy, innowacyjny sposób. Nie tylko projektujemy gry, 
      ale także kształtujemy światy, w które gracze mogą zanurzyć się, odkrywając nowe
      wymiary przygód.
    </p>
    <p>
      Zaczynamy od samego spodu, od zera. To jest przyczyna dlaczego niektóre produkcje
      zajmują sporo czasu. Możemy jednak zapewnić, że nie zatrzymujemy się ani na moment
      i pokażemy wam jeszcze wiele genialnych produkcji.
    </p>
    <p>
      Nasze produkcje poza rozrywką mają dostarczyć coś więcej - humor, adrenalinę a czasem 
      refleksję. Właśnie w ten sposób chcemy być inni od wszystkich, którzy obecnie działają
      na rynku. Robimy wszystko, aby do naszych bohaterów, światów i historii można było
      się przywiązać jak do gier z lat 00".   
    </p>
  </div>
  <div class="about__svg">
    <img src="/svgs/about.svg" alt="About SVG" />
  </div>
</div>

<style>
  .about {
    background-color: var(--clr-primary-300);
    border-radius: 2rem;
    padding: 1.5rem;
    text-wrap: pretty;
  }

  .about__text h2 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .about__text h2::before {
    content: "";
    display: block;
    width: 4px;
    height: 1.5rem;
    background-color: var(--clr-secondary);
  }

  .about__text p {
    margin-top: 1rem;
  }

  .about__svg {
    margin-top: 2rem;
  }

  @media (min-width: 60rem) {
    .about {
      display: flex;
      gap: 1rem;
    }

    .about__text {
      width: 60%;
    }

    .about__svg {
      width: 40%;
    }
  }
</style>
