<div class="about wrapper">
  <div class="about__text">
    <h2>Kim jesteśmy?</h2>
    <p>
      Gry komputerowe to prawdopodobnie najlepszy środek komunikacji w XXI wieku. Dzięki tak skomplikowanej
      cyfrowej konstrukcji jesteśmy w stanie przekazać Wam to, na czym nam zależy - klimat. 
      Jesteśmy młodą grupą pasjonatów informatyki, którzy postanowili wykorzystać najnowsze narzędzia technologiczne 
      w swój sposób - użyć tych narzędzi właściwie. Tym jest Bielsania Entertainment.
    </p>
    <p>
      Wszystko zaczęło się w technikum z wizji gry, która pokaże polskie realia w cyfrowym świecie.
      Długa praca i nauka po czasie zaczęła przynosić efekty a my dostaliśmy szansę żeby pokazać
      wam coś, co wierzymy że pobudzi wyobraźnie i skłoni do refleksji.
    </p>
  </div>
  <div class="about__svg">
    <img src="/svgs/about.svg" alt="About SVG" />
  </div>
</div>

<style>
  .about {
    background-color: var(--clr-primary-300);
    border-radius: 2rem;
    padding: 1.5rem;
    text-wrap: pretty;
    margin-top: 4rem;
  }

  .about__text h2 {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .about__text h2::before {
    content: "";
    display: block;
    width: 4px;
    height: 1.5rem;
    background-color: var(--clr-secondary);
  }

  .about__text p {
    margin-top: 1rem;
  }

  .about__svg {
    margin-top: 2rem;
  }

  @media (min-width: 60rem) {
    .about {
      display: flex;
      gap: 1rem;
    }

    .about__text {
      width: 60%;
    }

    .about__svg {
      width: 40%;
    }
  }
</style>
