<div class="socials">
    <a href="https://www.youtube.com/@bielsania" target="_blank">
        <img src="/svgs/youtube.svg" alt="YouTube" />
        YouTube
    </a>
    <a href="https://www.tiktok.com/@bielsania" target="_blank">
        <img src="/svgs/tiktok.svg" alt="TikTok" />
        TikTok
    </a>
    <a href="https://www.instagram.com/bielsania" target="_blank">
        <img src="/svgs/instagram.svg" alt="Instagram" />
        Instagram
    </a>
    <a href="https://www.facebook.com/bielsania" target="_blank">
        <img src="/svgs/facebook.svg" alt="Facebook" />
        Facebook
    </a>
</div>

<style>
    .socials {
        display: flex;
        gap: 1rem;
    }
</style>