---
import socials from "./socials.json";
---

<div class="socials wrapper">
    {socials.socials.map((social) => (
        <a href={social.link} target="_blank">
            <img src={`/socials/${social.img}`} alt={social.name} />
        </a>
    ))}
</div>

<style>
    .socials {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 0.75rem;
        margin-block: 4rem;
    }

    .socials > a {
        width: calc(100% / 3);
        filter: grayscale(100%);
        transition:
            filter 200ms ease-in-out,
            transform 200ms ease-in-out;
    }

    .socials > a:is(:hover, :focus) {
        filter: grayscale(0%);
        transform: scale(1.1);
    }

    @media (min-width: 60rem) {
        .socials {
            margin-block: 5rem;
        }

        .socials > a {
            width: calc(100% / 5);
        }
    }
</style>