<div class="support wrapper">
    <div class="support__header">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 30 30">
            <g clip-path="url(#a)">
              <path fill="#E57567" d="M18.75 5.625h-7.5L8.473 1.459A.937.937 0 0 1 9.252 0h11.496c.75 0 1.195.832.78 1.459L18.75 5.625ZM11.25 7.5h7.5c.223.146.475.31.762.492C22.834 10.12 30 14.702 30 24.375A5.626 5.626 0 0 1 24.375 30H5.625A5.626 5.626 0 0 1 0 24.375c0-9.674 7.166-14.256 10.488-16.383.282-.181.54-.346.762-.492Zm4.922 5.156c0-.644-.527-1.172-1.172-1.172-.645 0-1.172.528-1.172 1.172v.82c-.445.1-.89.258-1.3.499-.815.486-1.518 1.335-1.512 2.572.005 1.19.703 1.94 1.447 2.385.644.386 1.447.633 2.086.82l.1.03c.738.222 1.277.398 1.64.626.299.188.34.317.346.48.006.294-.106.47-.346.616-.293.181-.756.293-1.254.275-.65-.023-1.26-.228-2.056-.498a18.126 18.126 0 0 0-.422-.14 1.173 1.173 0 0 0-1.483.738c-.205.61.13 1.277.739 1.482.11.035.234.076.357.123.486.17 1.049.364 1.652.493v.855c0 .645.528 1.172 1.172 1.172.645 0 1.172-.527 1.172-1.172v-.809c.469-.1.938-.263 1.36-.527.837-.521 1.47-1.412 1.453-2.637-.018-1.19-.686-1.957-1.442-2.437-.674-.422-1.517-.68-2.174-.879l-.04-.012c-.75-.228-1.284-.392-1.659-.615-.305-.182-.31-.287-.31-.393 0-.216.082-.38.363-.544.316-.188.797-.3 1.26-.293.562.005 1.183.129 1.828.304a1.176 1.176 0 0 0 1.435-.832 1.171 1.171 0 0 0-.832-1.435c-.38-.1-.803-.2-1.236-.276v-.814.023Z"/>
            </g>
            <defs>
              <clipPath id="a">
                <path fill="#fff" d="M0 0h30v30H0z"/>
              </clipPath>
            </defs>
          </svg>          
        <h2>Wesprzyj to co robimy!</h2>
    </div>
    <div class="support__buttons">
        <a class="hero__btn btn" href="#!" target="_blank">
            <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_100_598" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="5" y="0" width="6" height="12">
                <path d="M5.38452 0.997355L8.2723 7.71427L9.14422 9.74253L8.32846 11.789L10.8363 5.49858L10.6998 5.18106L6.21867 0L5.38452 0.997355Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_100_598)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.02487 -0.112793C8.31844 1.21142 10.6122 2.53564 12.9057 3.85986C11.3799 6.5026 9.85415 9.14535 8.32836 11.7881C6.03479 10.4639 3.74108 9.13966 1.44751 7.81544C2.9733 5.1727 4.49909 2.52995 6.02487 -0.112793Z" fill="#EEEDEE"/>
                </g>
                <mask id="mask1_100_598" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="8" y="5" width="5" height="7">
                <path d="M8.32935 11.789L12.447 10.0122L12.6061 9.61325L10.8372 5.49854L8.32935 11.789Z" fill="white"/>
                </mask>
                <g mask="url(#mask1_100_598)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.32935 11.789V5.49854H12.6061V11.789H8.32935Z" fill="#EEEDEE"/>
                </g>
                <mask id="mask2_100_598" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="0" width="8" height="8">
                <path d="M1.78687 5.29984L6.22202 6.89666L8.27259 7.71447L5.38481 0.997559L1.78687 5.29984Z" fill="white"/>
                </mask>
                <g mask="url(#mask2_100_598)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.781738 3.1441C2.31613 2.42858 3.85052 1.71308 5.38492 0.997559C6.41441 3.20536 7.44395 5.41302 8.4734 7.62083C6.939 8.33635 5.40461 9.05186 3.87021 9.76738C2.84073 7.55957 1.81118 5.35191 0.781738 3.1441Z" fill="#EEEDEE"/>
                </g>
                <mask id="mask3_100_598" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="3" y="9" width="10" height="7">
                <path d="M3.37622 14.7996L6.38667 15.9999L10.8189 14.0946L12.4466 10.0124L8.32902 11.7893L8.32727 11.7933L6.29886 12.6654L4.24814 11.8477L3.37622 9.81934V14.7996Z" fill="white"/>
                </mask>
                <g mask="url(#mask3_100_598)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.65317 17.8467C6.17539 16.4161 3.69775 14.9856 1.21997 13.5551C2.66681 11.0491 4.11359 8.54304 5.56047 6.03711C8.03825 7.46765 10.5159 8.8982 12.9937 10.3287C11.5468 12.8347 10.1001 15.3408 8.65317 17.8467Z" fill="#EEEDEE"/>
                </g>
                <mask id="mask4_100_598" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="7" width="5" height="8">
                <path d="M0.0405476 9.67842L0 9.78008L1.90545 14.2122L3.37596 14.7985V9.8183L4.19377 7.76758L0.0405476 9.67842Z" fill="white"/>
                </mask>
                <g mask="url(#mask4_100_598)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 14.7995V7.76855H4.19377V14.7995H0Z" fill="#EEEDEE"/>
                </g>
                <mask id="mask5_100_598" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="5" width="7" height="5">
                <path d="M0.0405273 9.67841L4.19375 7.76757L6.222 6.89565L1.78685 5.29883L0.0405273 9.67841Z" fill="white"/>
                </mask>
                <g mask="url(#mask5_100_598)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.546143 9.33994C0.370599 7.75202 1.2874 6.16409 2.2041 4.57617C3.54338 5.34939 4.88272 6.12267 6.22196 6.89585C5.30516 8.48377 4.38842 10.0717 3.47158 11.6596C2.13234 10.8864 0.793097 10.1131 -0.546143 9.33994Z" fill="#EEEDEE"/>
                </g>
                </svg>
                
            Patronite
        </a>
        <a class="hero__btn btn2" href="#!" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" fill="none" viewBox="0 0 17 16">
                <path fill="#EEEDEE" d="m14.084 4.277-.088-.444c-.08-.399-.259-.775-.668-.92-.131-.045-.28-.065-.38-.16-.101-.095-.13-.244-.154-.381-.043-.252-.083-.504-.128-.756-.038-.216-.068-.46-.166-.658-.13-.266-.398-.422-.664-.525a4.002 4.002 0 0 0-.418-.13c-.666-.175-1.366-.24-2.051-.277A17.333 17.333 0 0 0 6.9.068C6.29.123 5.647.19 5.067.4c-.212.077-.43.17-.592.334a.641.641 0 0 0-.118.764.984.984 0 0 0 .461.387c.24.108.492.189.749.244.717.158 1.46.22 2.191.246a16.77 16.77 0 0 0 2.434-.078c.2-.023.398-.05.597-.08.235-.036.385-.342.316-.556-.083-.255-.305-.354-.556-.315-.31.05-.64.072-.921.097a17.67 17.67 0 0 1-2.358.004c-.257-.017-.515-.04-.771-.071l-.172-.024a8.837 8.837 0 0 1-.483-.087c-.074-.018-.074-.123 0-.141h.004c.185-.04.37-.073.558-.098h.002c.087-.006.175-.021.262-.032a16.667 16.667 0 0 1 2.284-.08c.45.013.898.045 1.345.096l.152.02c.178.027.355.06.532.097.261.057.597.076.713.362.037.09.054.192.074.287l.213.99a.159.159 0 0 1-.133.189h-.002l-.074.01a24.668 24.668 0 0 1-3.162.196 24.666 24.666 0 0 1-3.133-.202c-.093-.012-.195-.028-.278-.04-.217-.032-.433-.072-.649-.108a1.13 1.13 0 0 0-.748.108 1.08 1.08 0 0 0-.45.467c-.103.21-.133.44-.178.667-.046.226-.118.47-.09.704.058.502.408.91.913 1 2.496.446 5.042.53 7.562.252a.322.322 0 0 1 .357.353l-.048.465-.678 6.604c-.028.274-.032.555-.084.825-.081.425-.368.685-.788.78a5.498 5.498 0 0 1-1.17.137c-.438.003-.874-.016-1.311-.014-.466.002-1.037-.04-1.397-.387-.316-.306-.36-.783-.403-1.195l-.487-4.676-.215-2.062c-.025-.234-.19-.464-.452-.452-.224.01-.479.2-.452.452l.152 1.457.633 6.074c.098.896.782 1.38 1.63 1.515.495.08 1.002.096 1.505.104.644.01 1.295.036 1.928-.081.939-.172 1.643-.799 1.744-1.772l.683-6.663.143-1.391a.32.32 0 0 1 .26-.284c.268-.052.525-.141.716-.345.303-.326.364-.75.257-1.177Zm-.986.515c-.096.09-.242.134-.385.155-1.61.24-3.244.36-4.872.307-1.165-.04-2.318-.17-3.471-.332-.114-.016-.236-.037-.314-.12-.146-.158-.074-.474-.036-.664.035-.173.102-.406.309-.43.323-.038.697.098 1.017.146.385.059.77.106 1.158.142a22.39 22.39 0 0 0 4.982-.094c.3-.04.598-.086.896-.14.266-.048.56-.137.72.138.111.187.126.438.108.649a.36.36 0 0 1-.112.243Zm-4.106 2.6c-.574.246-1.226.525-2.072.525a4 4 0 0 1-1.046-.145l.584 6.003c.044.52.478.92 1 .92 0 0 .829.043 1.106.043.298 0 1.19-.043 1.19-.043.522 0 .956-.4 1-.92l.626-6.633a2.666 2.666 0 0 0-.881-.16c-.55 0-.994.19-1.507.41Z"/>
            </svg>
            Kawka
        </a>
    </div>
</div>

<style>
    .support {
        margin-block: 4rem 3rem;
    }

    .support__header {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .support__buttons {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        flex-direction: column;

    }


    .btn {
        box-shadow: 0 0 64px 0 var(--clr-secondary);
    }

    .btn, .btn2 {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    @media (min-width: 60rem) {
        .support {
            margin-block: 4rem;
        }
        .support__buttons {
            flex-direction: row;
        }
    }
</style>